
<div class="containe">
<header class="head">
    <a routerLink='/allplace' class="logo1">Travel</a>
    <div class="bx bx-menu" id="menu-icon"></div>

    <ul class="navbar">
        <input (keyup)="search($event)" type="text" placeholder="Search Your Destination" class="">
        <li><a routerLink='/allplace'>Home</a></li>
        <li><a routerLink="/wish-list">Bucket List</a></li>
        <li><a routerLink="/cart">Booking</a></li>
        <li><a routerLink="#Reviews">Reviews</a></li>

    </ul>
</header>
</div>
